html{
  font-family: 'Noto Sans', sans-serif;
}


a{
  text-decoration: none;
}









#mainTitle{
  text-align: center;
  margin-bottom: 7%;
  font-size: 4rem;
}

.categories{
  font-size: 2rem;
  background-color: black;
  color: white;
}

.title{
  color: #0F056B;
  font-size: 36px;
  line-height: 49px;
}










.button{
  color: white;
  text-align: center;

  width: 183px;
  height: 43px;
  left: 83px;
  top: 1421px;

  padding: 13px 0px 0px ;

  background: #0F056B;
  border-radius: 2px;
}


.rememberAndCheck{
  display: flex;
  flex-direction: row;
  width: 21%;
}

.remember{
  margin-top: 17%;
  color: #0F056B;
  font-style: italic;
}

#forgot{
  margin-top: 3.5%;
  color: #0F056B;
  font-style: italic;
}

#checkIcon{
  width: 30px;
	height: 30px;
  margin-top: 15%;
  margin-left: 6%;
}

#checkIconEmpty{
  width: 30px;
	height: 30px;
  margin-top: 15%;
  margin-left: 6%;
}










.register a{
  color: #0F056B;
}

.register{
  font-style: italic;
}











.border{
  display: flex;
  align-items: center;
  height: 7vh;
  width: 45%;
  margin: 3vh;
  border: solid black 1px;
}

input{
  font-size: 1.3em;
  height: 4vh;
  width: 70%;
  border: none;
}


#nameIcon{
  width: 30px;
	height: 30px;
  margin-left: 6%;
  margin-right: 4%;
}

#eyesCloses{
  margin-right: 5%;
  width: 30px;
	height: 30px;
}


#mailIcon{
  width: 30px;
	height: 30px;
  margin-left: 6%;
  margin-right: 4%;
}

#lockIcon{
  width: 35px;
	height: 30px;
  margin-left: 6%;
  margin-right: 4%;
}

#checkIcon{
  width: 30px;
	height: 30px;
  margin-top: 15%;
  margin-left: 6%;
}













.line{
  width: 68px;
  height: 0px;
  border: 1px solid #0F056B;

}

.passwordStrength{
  display: flex;
  flex-direction: row;
  font-style: italic;
  align-items: center;
}


.blueBlocks{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
}

.blueBlocks div{
  background-color: #0F056B;
  width: 90px;
  height: 9px;
  margin: 4%;
}
