html{
  font-family: 'Noto Sans', sans-serif;
  overflow: hidden;
}


.container{
  margin: 0 auto;
  width: 700px;
  height: 700px;
  margin-top: 9%;
}

.border{
  display: flex;
  align-items: center;
  height: 7vh;
  margin: 3vh;
  border: solid black 1px;
}








.titleContainer{
  margin: 0 auto;
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
}

.title{
  text-align: center;
  color: #0F056B;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 5px;
}

.line{
  margin: 0 auto;
  width: 68px;
  height: 0px;
  border: 1px solid #0F056B;

}

input{
  font-size: 1.3em;
  height: 4vh;
  width: 70%;
  border: none;
}













#eyesCloses{
  margin-right: 5%;
  width: 30px;
	height: 30px;
}



#mailIcon{
  width: 30px;
	height: 30px;
  margin-left: 6%;
  margin-right: 4%;
}

#lockIcon{
  width: 35px;
	height: 30px;
  margin-left: 6%;
  margin-right: 4%;
}

#checkIcon{
  width: 30px;
	height: 30px;
  margin-top: 15%;
  margin-left: 6%;
}

.remAndForgot{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rememberAndCheck{
  display: flex;
  flex-direction: row;
  width: 25%;
}

.remember{
  margin-top: 17%;
  color: #0F056B;
  font-style: italic;
}

#forgot{
  margin-top: 1.2%;
  color: #0F056B;
  font-style: italic;
}









.button{
  margin: 0 auto;
  color: white;
  text-align: center;

  width: 183px;
  height: 43px;
  margin-top: 39px;

  padding: 13px 0px 0px ;

  background: #0F056B;
  border-radius: 2px;
}


.register a{
  color: #0F056B;
}

.register{
  text-align: center;
  font-style: italic;
}


a{
  text-decoration: none;
}
